<!doctype html>

{% load static %}

<html lang="en">

<body>
{% include 'includes/header.html' %}

<div class="container-fluid">
    <div class="row">

        {% include 'includes/sidebar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><img src="{{ profile.profile_image.url }}" alt=""
                                                class="rounded-circle" height="100px" width="100px">
                        <a href="{% url 'profile' %}" class="btn-link">{{ profile.user.username }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ profile.phone }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ profile.city }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ profile.country }}</h6>
                    <br>
                     {% for post in posts %}
                        <div class="card">
                            <div class="card-body">
                                 {% if post.user.profile.profile_image.url %}
                                        <h5 class="card-title"><img src="{{ profile.profile_image.url }}" alt="author"
                                                                    class="rounded-circle"  width="50px" height="50px">
                                            <a href="/profile/edward" class="btn-link">{{ profile.user.first_name }}</a>
                                        </h5>
                                    {% else %}
                                        <img src="{% static 'img/logo.png' %}" alt="author"
                                             class="card-title" width="50px" height="50px">
                                    {% endif %}

                                <h6 class="card-subtitle mb-2 text-muted">Posted {{ post.date_posted }}</h6>
                                <p class="card-text">{{ post.content }}</p>
                                {% if post.img %}
                                    <img src="{{ post.img.url }}" alt="" width="100px" height="100px">
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </main>
    </div>
</div>

{% include 'includes/footer.html' %}
</body>
</html>
