<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <title>Wiz Social Network</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img style="width:20px" src="{% static 'img/logo.png' %}" alt=""> Wiz Network</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link text-white" href="{% url 'logout' %}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">
                            <span data-feather="home"></span>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <span data-feather="user"></span>
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Friends
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chats' %}">
                            <span data-feather="message-circle"></span>
                            Messenger
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_profile_template' %}">
                            <span data-feather="user"></span>
                            Account
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <h1>Friend List</h1>
                <div class="row">
                    <div class="col-3">
                         {% for friend in friends %}
                            <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><img src="{{ friend.profile_image.url }}"
                                                                    alt="" class="rounded-circle" style="width: 100px">
                                            <a href="{% url 'friend_profile' profile_id=friend.id %}"
                                               class="btn-link">{{ friend.user.username }}</a>

                                        </h5>
                                        <p>
                                             <a href="{% url 'friend_profile' profile_id=friend.id %}"
                                                class="btn btn-secondary btn-sm">View Profile</a>
                                        </p>
                                          <p>
                                            <a href="{% url 'remove_friend' friend_id=friend.id %}"
                                                class="btn btn-danger btn-sm">Remove</a>
                                        </p>
                                           <p>
                                            <a href="{% url 'messages' friend_id=friend.id %}"
                                                class="btn btn-danger btn-sm">Chat</a>
                                        </p>
                                    </div>

                            </div>
                        {% endfor %}
                        {% for request in friends_request %}
                            <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><img src="{{ request.sender.profile_image.url }}"
                                                                    alt="" class="rounded-circle" style="width: 100px">
                                            <a href="{% url 'friend_profile' profile_id=request.sender.id %}"
                                               class="btn-link">{{ request.sender.user.username }}</a>

                                        </h5>
                                        <p>
                                            <a href="{% url 'friend_profile' profile_id=request.sender.id %}"
                                                class="btn btn-secondary btn-sm">View Profile</a>
                                        </p>
                                        <p>
                                            <a href="{% url 'accept_friend_request' friend_id=request.sender.id %}"
                                                class="btn btn-primary btn-sm">Accept Request</a>
                                        </p>
                                        <p>
                                            <a href="{% url 'decline_friend_request' friend_id=request.sender.id %}"
                                                class="btn btn-danger btn-sm">Decline Request</a>
                                        </p>
                                    </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
        </main>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>
