<!doctype html>

{% load static %}

<html lang="en">

<body>

{% include 'includes/header.html' %}

<div class="container-fluid">
    <div class="row">

        {% include 'includes/sidebar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <h1>Chat</h1>

            <form method="post" action="{% url 'message_create' receiver_id=friend_id %}">
                {% csrf_token %}
                <label for="message">Message</label>
                <textarea class="form-control w-100" name="message" id="message" rows="2"></textarea>
                <button type="submit" class="btn btn-primary btn-sm mt-2">Send</button>
            </form>

            {% for message in messages %}
                {% if message.author == profile %}
                <hr>
                    <div class="card">
                        <div class="card-body text-right">
                            <h5 class="card-title"><img src="{{ message.author.profile_image.url }}"
                                                        alt="" class="rounded-circle" style="width: 50px">
                                <a href="{% url 'profile' %}" class="btn-link">{{ message.author.user.username }}</a>
                            </h5>
                            <p class="card-text text-right">{{ message.message }}</p>
                        </div>
                    </div>
                {% else %}
                    <hr>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><img src="{{ message.author.profile_image.url }}"
                                                         alt="" class="rounded-circle" style="width: 50px">
                                <a href="{% url 'profile' %}" class="btn-link">{{ message.author.user.username }}</a>
                            </h5>
                            <p class="card-text">{{ message.message }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </main>
    </div>
</div>
{% include 'includes/footer.html' %}
</body>
</html>
