<!doctype html>

{% load static %}

<html lang="en">

<body>

{% include 'includes/header.html' %}

<div class="container-fluid">
    <div class="row">

        {% include 'includes/sidebar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <h1>Friend Chat List</h1>
                <div class="row">
                    <div class="col-3">
                         {% for friend in friends %}
                            <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><img src="{{ friend.profile_image.url }}"
                                                                    alt="" class="rounded-circle" style="width: 100px">
                                            <a href="{% url 'friend_profile' profile_id=friend.id %}"
                                               class="btn-link">{{ friend.user.username }}</a>

                                        </h5>
                                        <p>
                                             <a href="{% url 'friend_profile' profile_id=friend.id %}"
                                                class="btn btn-secondary btn-sm">View Profile</a>
                                        </p>
                                          <p>
                                            <a href="{% url 'messages' friend_id=friend.id %}"
                                                class="btn btn-danger btn-sm">Chat</a>
                                        </p>
                                    </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
        </main>
    </div>
</div>

{% include 'includes/footer.html' %}
</body>
</html>
