<!doctype html>

{% load static %}

<html lang="en">

<body>
{% include 'includes/header.html' %}

<div class="container-fluid">
    <div class="row">

        {% include 'includes/sidebar.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div id="search-results"></div>
            <form method="post" action="{% url 'post_create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="content">Post update</label>
                <textarea name="content" id="update" rows="2" class="w-100 form-control"></textarea>
                <input type="file" name="img" class="mt-2">
                <div class="btn-toolbar mb-2 mb-md-0 mt-2">
                    <button class="btn btn-sm btn-primary">Share now</button>
                </div>
            </form>
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </div>
            {% endif %}

            <hr>
            {% for post in posts %}
                <div class="card">
                    <div class="card-body">
                         {% if post.author.profile_image %}
                                <h5 class="card-title"><img src="{{ post.author.profile_image.url }}" alt="author"
                                                            class="rounded-circle"  width="50px" height="50px">
                                </h5>
                            {% else %}
                                <img src="{% static 'img/logo.png' %}" alt="author"
                                     class="card-title" width="50px" height="50px">
                            {% endif %}
                             <a href="{% url 'friend_profile' profile_id=post.author.id %}" class="btn-link">{{ post.author.user.username }}</a>
                        <h6 class="card-subtitle mb-2 text-muted">Posted {{ post.date_posted }}</h6>
                        <p class="card-text">{{ post.content }}</p>
                        {% if post.img %}
                            <img src="{{ post.img.url }}" alt="" width="100px" height="100px">
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </main>
    </div>
</div>
{% include 'includes/footer.html' %}
<script>
const searchInput = document.querySelector('#search-input');
const searchResults = document.querySelector('#search-results');
let timeoutId;

searchInput.addEventListener('input', () => {
   const searchQuery = searchInput.value.trim();

  // Remove search results if search query is empty
  if (searchQuery.length < 2) {
      searchResults.style.display = 'none';
    return;
  }

  // Send request if search query has more than 2 characters
  if (searchQuery.length > 2) {
      searchResults.style.display = 'block';
    // Cancel the previous timeout if it exists
    clearTimeout(timeoutId);

  timeoutId = setTimeout(() => {
    fetch(`{% url 'find_profiles' %}?search_query=${searchQuery}`)
      .then(response => response.json())
      .then(data => {
        searchResults.innerHTML = data.html_results;
      });
  }, 500);
  }
});
</script>
</body>
</html>
