<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/logo.png">

    <title>Wiz Social Network</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img style="width:20px" src="{% static 'img/logo.png' %}" alt=""> Wiz Network</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link text-white" href="{% url 'logout' %}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <span data-feather="home"></span>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <span data-feather="user"></span>
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'friends' %}">
                            <span data-feather="users"></span>
                            Friends
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chats' %}">
                            <span data-feather="message-circle"></span>
                            Messenger
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'account' %}">
                            <span data-feather="user"></span>
                            Account
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <form id="change-password-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="current_password">Current Password</label>
                            <input type="password" class="form-control" id="current_password" name="old_password" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirm_password"  placeholder="">
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
<script>
    // Get form and relevant fields
    const form = document.getElementById('change-password-form');
    const newPasswordField = form.querySelector('#new_password');
    const confirmNewPasswordField = form.querySelector('#confirm_password');
    const submitButton = form.querySelector('button[type=submit]');

    // Add event listener to form
    form.addEventListener('submit', (event) => {
        event.preventDefault();

        // Check if new password and confirm password fields have the same value
        if (newPasswordField.value !== confirmNewPasswordField.value) {
            alert('New password and confirm password do not match');
            return;
        }

        // If new password and confirm password fields match, submit the form
        const formData = new FormData(form);
        submitButton.disabled = true;
        fetch('{% url 'change_password' %}', {
            method: 'PATCH',
            body: formData,
            headers: { 'X-CSRFToken': '{{ csrf_token }}' }
        })
        .then(response => {
            if (!response.ok) {
                console.log(response.formData())
                throw new Error('Server returned ' + response.status);

            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            alert('Password changed successfully');
            window.location.reload();
        })
        .catch(error => {
            console.error(error);
            let errorMessage = 'An error occurred while changing the password';
            if (error.response && error.response.data && error.response.data.detail) {
                errorMessage = error.response.data.detail;
            }
            alert(errorMessage);
            submitButton.disabled = false;
        });
    });
</script>
</body>
</html>
